* {
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 60px;
}

input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

.gifgrid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}


.gifgriditem img{
  height: 100px;
  padding: 5px;
  width: 160px;
}
